$Blue: #3C9DF6;
$Blue2: #1f6fbb;

.result_wrap {
  width: 100%;

  .con-title{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
    margin-left: 5px;

    h2 {
      margin-left: 5px;
      font-weight: bold;
      font-size: 20px;
    }

  }

  .textarea_content{
    display: flex;
    margin : 20px 10px;
    flex-direction: column;

    p {
      font-weight: bold;
      font-size: 15px;
      width : 25%;
      margin : 0px 0px 10px 0px;
      text-align: left;
    }

    .input_textarea {
      width: 100%;
      display: flex;
      textarea {
        width: 95%;
        padding: 5px;
        border: 1px solid lightgrey;
        background: #f0f0f0;
        border-radius: 5px;
        resize: none;
      }
      .result{
          height: 25px;
          width: 95%;
      }

      .note{
          height: 100px;
      }
    }
  }


  .footer{
    display: flex;
    justify-content: center;

    button {
      float: right;
      background: $Blue;
      border: none;
      color: white;
      font-size: 18px;
      padding: 5px 30px;
      margin: 20px;
      border-radius: 5px;
      &:hover {
        background: $Blue2;
        color: #fff;
        transition: 0.5s;
      }
    }
  }

}