.bar{
    box-sizing: border-box;

    position: absolute;
    width: 1517px;
    height: 62px;
    left: 344px;
    top: 264px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.bar2{
    box-sizing: border-box;

    position: absolute;
    width: 1517px;
    height: 259px;
    left: 344px;
    top: 354px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.bar3{
    box-sizing: border-box;

    position: absolute;
    width: 1514px;
    height: 259px;
    left: 347px;
    top: 645px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}